@using HardwareReservationAndAccountingSystem.Models
@model List<Equipment>

@{
    ViewBag.Title = "Įranga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeaderTitle {
    <h2>Įranga</h2>
}

@section PageHeaderSubNavLinks {
    <ul>
        <li class="active"><a href="#">Visa įranga</a></li>
        <li><a href="#" data-toggle="modal" data-target="#newEquipmentModal">Nauja įranga</a></li>
    </ul>
}

@section PageHeaderFilters {
    <div class="page-filters">
        <input type="text" placeholder="Filtruoti duomenis" class="form-control filter-by-text" />
    </div>
}

<div class="row">
    @if (Model.Count > 0)
    {
        foreach (var equipment in Model)
        {
            <div class="col-md-12 add-margin">
                <div class="content-block list-view equipment">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="heading">
                                <p>@equipment.Title</p>
                            </div>
                            <div class="description">
                                <p>@equipment.Description</p>
                            </div>
                        </div>
                        <div class="col-md-2 options">
                            <a href="#" class="btn btn-secondary">Žiūrėti</a>
                            <a href="#" class="more-options"><i class="fas fa-ellipsis-h"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-md-12 add-margin">
            <div class="content-block empty-content">
                <p>Šiuo metu nėra pridėtos jokios įrangos.</p>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="newEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="newEquipmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @Html.Partial("EquipmentForm", new Equipment())
        </div>
    </div>
</div>