body {
  background: #DEE0E3; }

.add-margin {
  margin-bottom: 1em; }

h1, h2, h3, h4, h5, h6, p {
  color: #344750; }

.layout .left-sidebar {
  background: #F9FAFB;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  padding: 0;
  margin-bottom: 0; }
  .layout .left-sidebar > div:not(.navbar-links),
  .layout .left-sidebar footer {
    margin: 2em 2.5em;
    text-align: center; }
  .layout .left-sidebar .logo {
    padding: 0.75em 0 0.25em; }
    .layout .left-sidebar .logo h1 {
      font-size: 1.5em;
      font-weight: bold; }
      .layout .left-sidebar .logo h1 a {
        color: #344750; }
  .layout .left-sidebar .profile img {
    border-radius: 50%;
    margin-bottom: 0.75em; }
  .layout .left-sidebar .profile p {
    text-transform: uppercase;
    color: #8ca4af;
    font-size: 0.75em;
    letter-spacing: 2px;
    font-weight: bold; }
  .layout .left-sidebar .navbar-links {
    padding: 2em 0; }
    .layout .left-sidebar .navbar-links ul {
      padding-left: 0;
      margin-bottom: 0; }
      .layout .left-sidebar .navbar-links ul a {
        display: block;
        padding: 1em 2.5em;
        text-transform: uppercase;
        font-size: 0.9em; }
      .layout .left-sidebar .navbar-links ul li {
        border-left: 5px solid transparent; }
        .layout .left-sidebar .navbar-links ul li:hover {
          background: #A5B7CC; }
          .layout .left-sidebar .navbar-links ul li:hover a {
            text-decoration: none;
            color: #F9FAFB !important; }
      .layout .left-sidebar .navbar-links ul.first-level > li.active {
        border-left-color: #FF6F11; }
        .layout .left-sidebar .navbar-links ul.first-level > li.active a {
          color: #344750;
          font-weight: bold; }
      .layout .left-sidebar .navbar-links ul.first-level > li .second-level {
        display: none; }
      .layout .left-sidebar .navbar-links ul li {
        list-style: none; }
        .layout .left-sidebar .navbar-links ul li a {
          color: #8ca4af; }
  .layout .left-sidebar footer {
    font-size: 0.75em; }

.layout .page-content-container {
  padding: 2em 5em; }

.layout .page-content-container .page-header {
  padding: 1em 0 2em;
  margin-bottom: 2.5em;
  border-bottom: 1px solid rgba(140, 164, 175, 0.1);
  /*.filter-data {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .fa-search {
            font-size: 1.25em;
            margin: 0 1em;

            &:hover {
                cursor: pointer;
            }
        }

        input {
            display: none;
        }
    }*/ }
  .layout .page-content-container .page-header .page-title h2 {
    font-size: 1.5em;
    margin: 0; }
  .layout .page-content-container .page-header .page-sub-nav {
    text-align: right; }
    .layout .page-content-container .page-header .page-sub-nav ul {
      padding-left: 0;
      margin-bottom: 0; }
      .layout .page-content-container .page-header .page-sub-nav ul li {
        list-style: none;
        display: inline-block; }
        .layout .page-content-container .page-header .page-sub-nav ul li a {
          color: #8ca4af;
          display: block;
          border-bottom: 3px solid transparent;
          margin-left: 1.5em; }
          .layout .page-content-container .page-header .page-sub-nav ul li a:hover {
            text-decoration: none;
            color: #344750;
            border-bottom-color: #344750; }
        .layout .page-content-container .page-header .page-sub-nav ul li.active a {
          color: #344750;
          border-bottom-color: #344750; }
  .layout .page-content-container .page-header .page-filters {
    margin: 1.5em 0 0; }
    .layout .page-content-container .page-header .page-filters input {
      max-width: 300px;
      font-size: 0.85em; }

.list-view .heading {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9em; }
  .list-view .heading p {
    margin-bottom: 0.5em; }

.list-view .description {
  font-size: 0.85em;
  color: #8ca4af;
  opacity: 0.75; }
  .list-view .description p:last-child {
    margin-bottom: 0; }

.list-view .options {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .list-view .options .btn-secondary {
    background: #A5B7CC;
    border-color: #A5B7CC; }
    .list-view .options .btn-secondary:hover {
      background: #838683;
      border-color: #838683; }
  .list-view .options .more-options {
    color: #344750;
    margin-left: 1em;
    background: none;
    border: none; }
    .list-view .options .more-options::after {
      display: none; }

.content-block {
  background: #F9FAFB;
  padding: 1em 2em;
  border-radius: 5px;
  transition: 0.3s all; }
  .content-block:hover {
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1); }
  .content-block.empty-content p {
    margin-bottom: 0; }

#calendar {
  background: white;
  padding: 3em;
  border-radius: 5px;
  width: 100%; }

.notification.unread {
  border-left: 5px solid #FF6F11; }
