body {
  background: #DEE0E3; }

div[class*='col'] {
  margin-bottom: 1em; }

h1, h2, h3, h4, h5, h6, p {
  color: #344750; }

.layout .left-sidebar {
  background: #F9FAFB;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  /*padding: 2em 2.5em;*/
  padding: 0; }
  .layout .left-sidebar > div:not(.navbar-links),
  .layout .left-sidebar footer {
    margin: 2em 2.5em;
    text-align: center; }
  .layout .left-sidebar .logo {
    padding: 0.75em 0 0.25em; }
    .layout .left-sidebar .logo h1 {
      font-size: 1.5em;
      font-weight: bold; }
      .layout .left-sidebar .logo h1 a {
        color: #344750; }
  .layout .left-sidebar .profile img {
    border-radius: 50%;
    margin-bottom: 0.75em; }
  .layout .left-sidebar .profile p {
    text-transform: uppercase;
    color: #8ca4af;
    font-size: 0.75em;
    letter-spacing: 2px;
    font-weight: bold; }
  .layout .left-sidebar .navbar-links {
    padding: 2em 0; }
    .layout .left-sidebar .navbar-links ul {
      padding-left: 0;
      margin-bottom: 0; }
      .layout .left-sidebar .navbar-links ul a {
        display: block;
        padding: 1em 2.5em;
        text-transform: uppercase;
        font-size: 0.9em; }
      .layout .left-sidebar .navbar-links ul li {
        border-left: 5px solid transparent; }
        .layout .left-sidebar .navbar-links ul li:hover {
          background: #A5B7CC; }
          .layout .left-sidebar .navbar-links ul li:hover a {
            text-decoration: none;
            color: #F9FAFB !important; }
      .layout .left-sidebar .navbar-links ul.first-level > li.active {
        border-left-color: #FF6F11; }
        .layout .left-sidebar .navbar-links ul.first-level > li.active a {
          color: #344750;
          font-weight: bold; }
      .layout .left-sidebar .navbar-links ul.first-level > li .second-level {
        display: none; }
      .layout .left-sidebar .navbar-links ul li {
        list-style: none; }
        .layout .left-sidebar .navbar-links ul li a {
          color: #8ca4af; }
  .layout .left-sidebar footer {
    font-size: 0.75em; }

.layout .page-content-container {
  padding: 2em 5em; }

.layout .page-content-container .page-header {
  /*background: $colorAlmostWhite;*/
  padding: 1em 0 2em;
  /*border-radius: 5px;*/
  /*box-shadow: 0 0 20px 0 rgba(black, 0.05);*/
  margin-bottom: 2.5em;
  border-bottom: 1px solid rgba(140, 164, 175, 0.1); }
  .layout .page-content-container .page-header h2 {
    font-size: 1.5em;
    margin: 0; }

.content-block {
  background: #F9FAFB;
  padding: 1em 2em;
  border-radius: 5px; }
