@{
    ViewBag.Title = "Pradžia";
}

@section PageHeaderTitle {
    <h2>Techninės įrangos rezervacija</h2>
}

<div class="row">
    @for (int i = 0; i < 20; i++)
    {
        <div class="col-md-4 col-sm-12 add-margin">
            <div class="content-block quick-link">
                info blokas
            </div>
        </div>
    }
</div>