@{
    ViewBag.Title = "Home Page";
}

@section PageHeader {
    <h2>Techninės įrangos rezervacija</h2>
}

<div class="row">
    @for (int i = 0; i < 20; i++)
    {
        <div class="col-md-4">
            <div class="content-block quick-link">
                Greita nuoroda
            </div>
        </div>
    }
</div>