<div class="logo">
    <h1>@Html.ActionLink("Techninės įrangos rezervacija", "Index", "Home")</h1>
</div>

<div class="profile">
    <img src="http://via.placeholder.com/120x120" alt="Profile picture" />
    <p>Vardas Pavardenis</p>
</div>

<div class="navbar-links">
    <ul class="first-level">
        <li class="active">
            <a href="#">Pradžia</a>
        </li>
        <li>
            <a href="#">Pranešimai</a>
        </li>
        <li>
            <a href="#">Rezervacijos</a>
            <ul class="second-level">
                <li><a href="#">Visos rezervacijos</a></li>
                <li><a href="#">Nauja rezervacija</a></li>
                <li><a href="#">Laukiančios patvirtinimo</a></li>
                <li><a href="#">Šiuo metu aktyvios</a></li>
                <li><a href="#">Praėjusios rezervacijos</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Kalendorius</a>
            <ul class="second-level">
                <li><a href="#">Dienos</a></li>
                <li><a href="#">Savaitės</a></li>
                <li><a href="#">Mėnesio</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Įranga</a>
            <ul class="second-level">
                <li><a href="#">Atskiri įrangos vienetai</a></li>
                <li><a href="#">Įrangos komplektai</a></li>
                <li><a href="#">Nuomojama (rodoma) įranga</a></li>
                <li><a href="#">Įrangos tipai</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Sistemos nustatymai</a>
        </li>
    </ul>
</div>

<footer>
    <p>Visos teisės saugomos &copy; @DateTime.Now.Year</p>
</footer>