
@{
    ViewBag.Title = "Renginiai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeaderTitle {
    <h2>Renginiai</h2>
}

@section PageHeaderSubNavLinks {
    @Html.ActionLink("Visi renginiai", "Index", "Events", null, new { @class = "btn btn-dark" })
    <button class="btn btn-primary">Eksportuoti</button>
    <button class="btn btn-success">Naujas</button>
}

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    Renginys
                </h3>
                <ul class="sub-info">
                    <li>2019-03-16 21:10</li>
                </ul>
            </div>
            <div class="content">
                <p>some text</p>
            </div>
        </div>
    </div>
</div>

