.layout .page-content-container .page-header {
    padding: 1em 0;
    margin-bottom: 2em;
    // border-bottom: 1px solid rgba($colorTextSecondary, 0.1);

    .page-title {
        h2 {
            // font-size: 1.5em;
            font-size: 24px;
            margin: 0;
            color: #344750;
            font-weight: 600;
        }
    }

    .page-sub-nav {
        text-align: right;

        .btn {
            font-size: 14px;
        }

        // ul {
        //     padding-left: 0;
        //     margin-bottom: 0;

        //     li {
        //         list-style: none;
        //         display: inline-block;

        //         a {
        //             color: $colorTextSecondary;
        //             display: block;
        //             border-bottom: 3px solid transparent;
        //             margin-left: 1.5em;

        //             &:hover {
        //                 text-decoration: none;
        //                 color: $colorTextPrimary;
        //                 border-bottom-color: $colorTextPrimary;
        //             }
        //         }

        //         &.active {
        //             a {
        //                 color: $colorTextPrimary;
        //                 border-bottom-color: $colorTextPrimary;
        //             }
        //         }
        //     }
        // }
    }

    // TODO: move to components
    .page-filters {
        margin: 1.5em 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        input {
            max-width: 300px;
            font-size: 0.85em;
        }

        .grid-options {
            margin-left: 2em;
            flex-shrink: 0;

            .fa-th-large,
            .fa-th-list {
                margin: 0 5px;
                font-size: 1.25em;
                color: $colorTextSecondary;

                &:hover {
                    cursor: pointer;
                }

                &.active {
                    color: $colorTextPrimary;
                }
            }
        }

        .equipment-types {
            margin-left: 1em;

            span {
                background: white;
                padding: 5px 10px;
                margin-left: 1em;
                border-radius: 5px;
                font-size: 0.6em;
                text-transform: uppercase;
                letter-spacing: 2px;
                cursor: pointer;
                display: inline-block;
                margin-bottom: 0.5em;
                border-left-width: 5px;
                border-left-style: solid;

                &.disabled {
                    text-decoration: line-through;
                    opacity: 0.25;
                }
            }
        }
    }
}
