@using HardwareReservationAndAccountingSystem.Models
@model IEnumerable<EquipmentType>

@{
    ViewBag.Title = "Įrangos tipai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeaderTitle {
    <h2>Įrangos tipai</h2>
}

@section PageHeaderSubNavLinks {
    <ul>
        <li class="active">@Html.ActionLink("Visi įrangos tipai", "Index", "EquipmentTypes")</li>
        <li><a href="#" data-toggle="modal" data-target="#newEquipmentTypeModal">Naujas tipas</a></li>
    </ul>
}

@section PageHeaderFilters {
    <div class="page-filters">
        <input type="text" placeholder="Filtruoti duomenis" class="form-control filter-by-text" />
        <div class="grid-options">
            <i class="fas fa-th-large"></i>
            <i class="fas fa-th-list"></i>
        </div>
    </div>
}

<div class="row">
    @if (Model.Any())
    {
        foreach (var equipmentType in Model)
        {
            <div class="col-md-12 add-margin">
                <div class="content-block list-view equipment-type" style="border-left: 5px solid @equipmentType.Color">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="heading">
                                <p>@equipmentType.Title</p>
                            </div>
                        </div>
                        <div class="col-md-2 options">
                            <a href="#" class="btn btn-secondary">Žiūrėti</a>

                            <div class="dropdown">
                                <a class="btn btn-secondary more-options dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-md-12 add-margin">
            <div class="content-block empty-content">
                <p>Šiuo metu nėra pridėto jokio įrangos tipo.</p>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="newEquipmentTypeModal" tabindex="-1" role="dialog" aria-labelledby="newEquipmentTypeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @Html.Partial("EquipmentTypeForm", new EquipmentType())
        </div>
    </div>
</div>