
@{
    ViewBag.Title = "Pranešimai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeaderTitle {
    <h2>Pranešimai</h2>
}

@section PageHeaderSubNavLinks {
    <ul>
        <li class="active"><a href="#">Visi pranešimai</a></li>
        <li><a href="#">Neskaityta</a></li>
        <li><a href="#">Archyvuota</a></li>
    </ul>
}

@section PageHeaderFilters {
    <div class="page-filters">
        <input type="text" placeholder="Filtruoti duomenis" class="form-control filter-by-text" />
    </div>
}

<div class="row">
    @for (int i = 1; i <= 3; i++)
    {
        <div class="col-md-12 add-margin">
            <div class="content-block list-view notification unread">
                <div class="row">
                    <div class="col-md-10">
                        <div class="heading">
                            <p>Neperskaityto pranešimo #@i tema</p>
                        </div>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit, aliquet eget commodo nec, auctor a sapien. Nam eu neque vulputate diam rhoncus faucibus. Curabitur quis varius libero. Lorem.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 options">
                        @Html.ActionLink("Žūrėti", "Details", "Notifications", null, new {@class = "btn btn-secondary"})

@*                        <a href="#" class="btn btn-secondary">Žiūrėti</a>*@
                        <a href="#" class="more-options"><i class="fas fa-ellipsis-h"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }

    @for (int i = 1; i <= 6; i++)
    {
        <div class="col-md-12 add-margin">
            <div class="content-block list-view notification">
                <div class="row">
                    <div class="col-md-10">
                        <div class="heading">
                            <p>Pranešimo #@i tema</p>
                        </div>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit, aliquet eget commodo nec, auctor a sapien. Nam eu neque vulputate diam rhoncus faucibus. Curabitur quis varius libero. Lorem.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 options">
                        <a href="#" class="btn btn-secondary">Žiūrėti</a>
                        <a href="#" class="more-options"><i class="fas fa-ellipsis-h"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>