.layout .page-content-container .page-header {
    padding: 1em 0 2em;
    margin-bottom: 2.5em;
    border-bottom: 1px solid rgba($colorTextSecondary, 0.1);

    .page-title {
        h2 {
            font-size: 1.5em;
            margin: 0;
        }
    }

    .page-sub-nav {
        text-align: right;

        ul {
            padding-left: 0;
            margin-bottom: 0;

            li {
                list-style: none;
                display: inline-block;

                a {
                    color: $colorTextSecondary;
                    display: block;
                    border-bottom: 3px solid transparent;
                    margin-left: 1.5em;

                    &:hover {
                        text-decoration: none;
                        color: $colorTextPrimary;
                        border-bottom-color: $colorTextPrimary;
                    }
                }

                &.active {
                    a {
                        color: $colorTextPrimary;
                        border-bottom-color: $colorTextPrimary;
                    }
                }
            }
        }
    }
    
    .page-filters {
        margin: 1.5em 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        input {
            max-width: 300px;
            font-size: 0.85em;
        }

        .grid-options {
            margin-left: 2em;

            .fa-th-large,
            .fa-th-list {
                margin: 0 5px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .equipment-types {
            margin-left: 1em;

            span {
                background: white;
                padding: 5px 10px;
                margin-left: 1em;
                border-radius: 5px;
                font-size: 0.6em;
                text-transform: uppercase;
                letter-spacing: 2px;
                cursor: pointer;

                &.disabled {
                    text-decoration: line-through;
                    opacity: 0.25;
                }
            }
        }
    }
}
